doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Lanzamiento Meetup Social Media

    // build:css styles/styles.css
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    header
      a(href="http://dazzet.co" color=black)
        img(src="img/logo_dazzet.png")

    article

      section(data-bespoke-state='inicial')
        h1 Online Marketing & Social Media Strategy

      section
        h2 Patrocinadores
        h3 
          a(href="http://dazzet.co") Dazzet
        strong Juan Esteban Yepes 
          a(href="http://twitter.com/yepesesteban") @YepesEsteban
        hr
        strong Mario Andrés Yepes C 
          a(href="http://twitter.com/marioy47") @marioy47

      section 
        h2 Temas

      section 
        h2 Inbound Marketing
        ul
          li SEO
          li Social Media
            hr
            img(src="img/Facebook-icon.png" width="24px")
            img(src="img/GooglePlus-icon.png"  width="24px") 
            img(src="img/LinkedIn-icon.png" width="24px") 
            img(src="img/Twitter-icon.png" width="24px") 
            img(src="img/Youtube-icon.png" width="24px") 
          li IRL (In Real Life)
          li Blogging
          li Emailing
          li Analítica/Segmentación

      section
        h2 Outbound
        ul
          li Ad Words
          li Listas de retargeting
            hr
            img(src="img/Facebook-icon.png" width="24px")
            img(src="img/GooglePlus-icon.png"  width="24px") 
            img(src="img/LinkedIn-icon.png" width="24px") 
            img(src="img/Twitter-icon.png" width="24px") 
            img(src="img/Youtube-icon.png" width="24px") 
          li Display Ads
          li Compra de Twits o Likes
          li Analítica


      section
        h2 Los esperamos




    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='scripts/main.js')
    // endbuild
